/* Font weight */
h1 {
  font-weight: 900;
}

p {
  font-size: 20px;
  font-weight: 500;
}

/* Text decoration */
h3 {
  text-decoration: underline red wavy;
  font-style: bold;
}

/* Font style */
.fontStyle {
  font-style: normal;
}

/* Text Transform */
.textTransform {
  text-transform: uppercase;
}

/* List style */
.fruits {
  list-style: square;
}
